<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>History</title>
</head>
<body>

    <div>
        <table class="table table-hover ">
            <thead>
                <tr>
                    
                    <th scope="col">
                        Type
                    </th>
                    <th scope="col">
                        Earned
                    </th>
                    <th scope="col">
                        Date
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for row in value %}
                <tr>
                    
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    <td>{{row[3]}}</td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>

    
    
</body>
</html>